<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<body>
    <div align="center" th:fragment="menu">
        <table>
            <tr>
                <td width="80"><a href="../home.html" th:href="@{/}" th:text="#{header.home}">홈</a></td>
                <td width="120"><a href="../codegroup/list.html" th:href="@{/codegroup/list}"
                    th:text="#{menu.codegroup.list}">코드그룹관리</a></td>
                <td width="120"><a href="../codedetail/list.html" th:href="@{/codedetail/list}"
                    th:text="#{menu.codedetail.list}"></a></td>
            </tr>
        </table>
    </div>


</body>
</html>