<!doctype html>
<html xmlns:th="http:www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nZ/thymeleaf/layout"
    layout:decorate="layouts/main_template">
<head th:replace="fragments/header::head('home')">
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="#{common.homeWelcome}"></h1>
        <p th:text="${serverTime}">시간표시</p>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>